.about-content a {
    color: #c9a84c;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.about-content p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
    max-width: 650px;
}